<form role="form" name="formHolder.individual_machinery">
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Kind</label>
			<input type="text" class="form-control" placeholder="" name="kind" ng-model="individual_machinery.kind" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Brand</label>
			<input type="text" class="form-control" placeholder="" name="brand" ng-model="individual_machinery.brand" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Power Rating</label>
			<input type="text" class="form-control" placeholder="" name="power_rating" ng-model="individual_machinery.power_rating" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Mode of</label>
			<input type="text" class="form-control" placeholder="" name="mode_of" ng-model="individual_machinery.mode_of" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Funding Agency</label>
			<input type="text" class="form-control" placeholder="" name="funding_agency" ng-model="individual_machinery.funding_agency" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Year Acquired</label>
			<input type="text" class="form-control" placeholder="" name="year_acquired" ng-model="individual_machinery.year_acquired" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Serial Number</label>
			<input type="text" class="form-control" placeholder="" name="serial_no" ng-model="individual_machinery.serial_no" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Status</label>
			<input type="text" class="form-control" placeholder="" name="status" ng-model="individual_machinery.status" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Name of Affiliated</label>
			<input type="text" class="form-control" placeholder="" name="name_of_affiliated" ng-model="individual_machinery.name_of_affiliated" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Position on the Association</label>
			<input type="text" class="form-control" placeholder="" name="position_on_the_association" ng-model="individual_machinery.position_on_the_association" />
		  </div>
		</div>
	</div>
</form>  <!-- /.form -->