<form role="form" name="formHolder.individual_organization">
	<div class="row">
		<div class="col-md-12 mb-2">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Name of Organization 
</label>
			<input type="text" class="form-control" placeholder="" name="name_of_organization" ng-model="individual_organization.name_of_organization" value="" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-2">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Member Since</label>
			<input type="text" class="form-control" placeholder="" name="member_since" ng-model="individual_organization.member_since" value="" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-2">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Position/Official Designation</label>
			<input type="text" class="form-control" placeholder="" name="position" ng-model="individual_organization.position" value="" />
		  </div>
		</div>
	</div>
</form>  <!-- /.form -->