<form role="form" name="formHolder.individual_training">
	<div class="row">
		<div class="col-md-12 mb-2">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Training Title</label>
			<input type="text" class="form-control" placeholder="" name="training_title" ng-model="individual_training.training_title" value="" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-2">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Conducted By</label>
			<input type="text" class="form-control" placeholder="" name="conducted_by" ng-model="individual_training.conducted_by" value="" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-2">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Year</label>
			<input type="text" class="form-control" placeholder="" name="training_year" ng-model="individual_training.training_year" value="" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-2">
		  <div class="form-group">
			<label class="fw-semibold fs-6">hours</label>
			<input type="text" class="form-control" placeholder="" name="training_hours" ng-model="individual_training.training_hours" value="" />
		  </div>
		</div>
	</div>
</form>  <!-- /.form -->