<form role="form" name="formHolder.individual_aquaculture">
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Type</label>
			<select class="form-select" aria-label="Select example" name="type" ng-model="individual_aquaculture.type">
				<option></option>
				<option value="Fresh Water">Fresh Water</option>
				<option value="Brackish Water">Brackish Water</option>
				<option value="Marine Water">Marine Water</option>
			</select>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Method</label>
			<select class="form-select" aria-label="Select example" name="method" ng-model="individual_aquaculture.method">
				<option></option>
				<option value="Land culture">Land culture</option>
			</select>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Area(ha)</label>
			<input type="text" class="form-control" placeholder="" name="area" ng-model="individual_aquaculture.area" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Production/cycle</label>
			<input type="text" class="form-control" placeholder="" name="production" ng-model="individual_aquaculture.production" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Species cultured</label>
			<input type="text" class="form-control" placeholder="" name="species_cultured" ng-model="individual_aquaculture.species_cultured" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">No. of production cycle/year</label>
			<input type="text" class="form-control" placeholder="" name="no_of_production_cycle" ng-model="individual_aquaculture.no_of_production_cycle" />
		  </div>
		</div>
	</div>
</form>  <!-- /.form -->