<form role="form" name="formHolder.individual_gleaning">
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Specie</label>
			<input type="text" class="form-control" placeholder="" name="specie" ng-model="individual_gleaning.specie" />
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
		  <div class="form-group">
			<label class="fw-semibold fs-6">Average gleaned per day (kg)</label>
			<input type="text" class="form-control" placeholder="" name="average_gleaned_per_day" ng-model="individual_gleaning.average_gleaned_per_day" />
		  </div>
		</div>
	</div>
</form>  <!-- /.form -->