<!-- Primary table start -->
<div class="card">
	<div class="card-body">
		<div class="row mb-4">
			<div class="col-lg-7">
				<h5>Documents Table</h5>
			</div>
			<div class="col-lg-5">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Search Keywords Here" ng-model="search" style="border-top-left-radius:1.5rem; border-bottom-left-radius:1.5rem; height:40px !important;">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button" ng-click="app.document(this)" style="height:40px;">Add New Document</button>
					</div>
				</div>
			</div>
		</div>
		<div class="single-table">
			<div class="table-responsive">
				<table class="table text-center">
					<thead class="text-uppercase text-white" style="background:#8914fe;">
						<tr>
							<th>Seq #</th>
							<th>Action</th>
							<th>Tracking Code</th>
							<th width="20%">Transaction No</th>
							<th>Subject</th>
							<th>Document Type</th>
							<th>Originating Office</th>
							<th>Category</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in filterData = (documents | filter:search) | pagination: currentPage:pageSize">
							<td>{{data.seq_no}}</td>
							<td>
								<ul class="d-flex justify-content-center">
									<button id="button_s" type="button" class="btn btn-primary btn-xs mr-1" ng-click="app.document(this,data)"><i class="fa fa-edit"></i></button>
									<button id="button_s" type="button" class="btn btn-danger btn-xs" ng-click="app.delete(this,data)"><i class="fa fa-remove"></i></button>
								</ul>
							</td>
							<td>{{data.qrcode}}</td>
							<td>{{data.transaction_no}}</td>
							<td>{{data.doc_name}}</td>
							<td>{{data.doc_type.document_type}}</td>
							<td>{{data.origin.shortname}}</td>
							<td>{{data.category}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12" style="text-align: center;">
								<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>