<!-- Primary table start -->
<div class="card">
	<div class="card-body">
		<div class="row mb-3">
			<div class="col-lg-7">
				<h5>Comments</h5>
			</div>
			<div class="col-lg-5">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Search here. . ." ng-model="search">
				</div>
			</div>
		</div>
		<div class="single-table">
			<div class="table-responsive">
				<table class="table text-center">
					<thead class="text-uppercase text-white" style="background:#8914fe;">
						<tr>
							<th>Seq #</th>
							<th>Particulars</th>
							<th>To</th>
							<th>Status</th>
							<th>Complete</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in filterData = (document_comments | filter:search) | pagination: currentPage:pageSize">
							<td>{{$index+1}}</td>
							<td>{{data.particulars}}</td>
							<td>
							<p ng-show="data.is_multiple_offices=='0'">{{document.origin.shortname}}</p>
							<span ng-show="data.is_multiple_offices=='1'"><p ng-repeat="off in data.document_comments">{{off.office.shortname}}</p><span></td>
							<td><span class="badge badge-{{data.color}}">{{data.status}}</span></td>
							<td>
								<label class="switch2">
									<input type="checkbox" name="status{{$index}}" ng-model="data.status_button" ng-click="app.checkStatus(this)">
									<span class="slider2 round2"></span>
								</label>
							</td>
							<td>
								<ul class="d-flex justify-content-center">
									<h5><li class="mr-2"><a ng-click="app.comment(this,data)" class="text-secondary"><i class="fa fa-edit"></i></a></li></h5>
									<h5><li><a ng-click="app.delete_comment(this,data)" class="text-danger"><i class="ti-trash"></i></a></li></h5>
								</ul>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12" style="text-align: center;">
								<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>