<!-- Primary table start -->
<div class="card">
	<div class="card-body">
		<div class="row mb-4">
			<div class="col-lg-7">
				<h5>File Document Table</h5>
			</div>
			<div class="col-lg-5">
				<div class="search-box float-right">
					<form action="#">
						<input type="text" name="search" placeholder="Search Keywords Here" ng-model="search" style="background: #ffffff; border: 1px solid rgba(170, 170, 170, .3);">
						<i class="ti-search"></i>
					</form>
				</div>
			</div>
		</div>
		<div class="single-table">
			<div class="table-responsive">
				<table class="table text-center">
					<thead class="text-uppercase text-white" style="background:#8914fe;">
						<tr>
							<th>Seq #</th>
							<th>Action</th>
							<th>Tracking Code</th>
							<th width="15%">Transaction no</th>
							<th>Subject</th>
							<th>Status</th>
							<th>Document Date/Time</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in filterData = (documents | filter:search) | pagination: currentPage:pageSize">
							<td>{{$index+1}}</td>
							<td>
								<ul class="d-flex justify-content-center">
									<button id="button_s" type="button" class="btn btn-primary btn-xs" ng-click="app.file(this,data)"><i class="fa fa-folder-open"></i></button>	
								</ul>
							</td>
							<td>{{data.qrcode}}</td>
							<td>{{data.transaction_no}}</td>
							<td>{{data.doc_name}}</td>
							<td><span class="badge badge-pill badge-{{data.color}}">{{data.is_completed}}</span></td>
							<td>{{data.document_date}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12" style="text-align: center;">
								<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>