<table class="table align-middle table-row-dashed fs-6 gy-5" id="table_individual_gleanings">
	<thead>
		<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
			<th class="min-w-125px">#</th>
			<th class="min-w-125px">Specie</th>
			<th class="min-w-125px">Average gleaned per day (kg)</th>
			<th class="min-w-125px"></th>
		</tr>
	</thead>
	<tbody class="text-gray-600 fw-semibold">
		<tr ng-repeat="data in filterData = (individual_gleanings | filter:search_gleanings) | pagination: currentPage:pageSize">
			<td>{{$index+1}}</td>
			<td>{{data.specie}}</td>
			<td>{{data.average_gleaned_per_day}}</td>
			<td width="10%">
				<a href="" ng-click="app.individual_gleaning(this,data)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="ki-duotone ki-notepad-edit fs-2qx">
					 <i class="path1"></i>
					 <i class="path2"></i>
				</i></a>
				<a href="" ng-click="app.delete_individual_gleaning(this,data)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="ki-duotone ki-trash fs-2qx">
					 <i class="path1"></i>
					 <i class="path2"></i>
					 <i class="path3"></i>
					 <i class="path4"></i>
					 <i class="path5"></i>
				</i></a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8">
				<div style="float: right">
					<ul uib-pagination direction-links="false" boundary-links="true"
						total-items="filterData.length" ng-model="currentPage" max-size="maxSize">
					</ul>
				</div>
			</td>
		</tr>
	</tfoot>
</table>