<!--begin::Table-->
<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
	<thead>
		<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
			<th class="min-w-125px">Name of Organization</th>
			<th class="min-w-125px">Member Since</th>
			<th class="min-w-125px">Position/Official Designation</th>
			<th class="min-w-125px">Actions</th>
		</tr>
	</thead>
	<tbody class="text-gray-600 fw-semibold">
		<tr ng-repeat="data in filterData = (individual_organizations | filter:search_individual_trainings) | pagination: currentPage:pageSize">
			<td>{{data.name_of_organization}}</td>
			<td>{{data.member_since}}</td>
			<td>{{data.position}}</td>
			<td>
				<a href="" ng-click="app.individual_organization(this,data)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="ki-duotone ki-notepad-edit fs-2qx">
					 <i class="path1"></i>
					 <i class="path2"></i>
				</i></a>
				<a href="" ng-click="app.delete_individual_organization(this,data)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="ki-duotone ki-trash fs-2qx">
					 <i class="path1"></i>
					 <i class="path2"></i>
					 <i class="path3"></i>
					 <i class="path4"></i>
					 <i class="path5"></i>
				</i></a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8">
				<div style="float: right">
					<ul uib-pagination direction-links="false" boundary-links="true"
						total-items="filterData.length" ng-model="currentPage" max-size="maxSize">
					</ul>
				</div>
			</td>
		</tr>
	</tfoot>
</table>
<!--end::Table-->