<!--begin::Table-->
<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
	<thead>
		<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
			<th class="min-w-125px">#</th>
			<th class="min-w-125px">Training Title</th>
			<th class="min-w-125px">Conducted By</th>
			<th class="min-w-125px">Year</th>
			<th class="min-w-125px">hour</th>
			<th class="min-w-125px">Actions</th>
		</tr>
	</thead>
	<tbody class="text-gray-600 fw-semibold">
		<tr ng-repeat="data in filterData = (individual_trainings | filter:search_individual_trainings) | pagination: currentPage:pageSize">
			<td class="d-flex align-items-center">
				<!--begin::User details-->
				<div class="d-flex flex-column">
					<a class="text-gray-800 text-hover-primary mb-1">{{data.id}}</a>
					<!-- <span>{{data.username}}</span> -->
				</div>
				<!--begin::User details-->
			</td>
			<td>{{data.training_title}}</td>
			<td>{{data.conducted_by}}</td>
			<td>{{data.training_year}}</td>
			<td>{{data.training_hours}}</td>
			<td>
				<a href="" ng-click="app.individual_training(this,data)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="ki-duotone ki-notepad-edit fs-2qx">
					 <i class="path1"></i>
					 <i class="path2"></i>
				</i></a>
				<a href="" ng-click="app.delete_individual_training(this,data)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="ki-duotone ki-trash fs-2qx">
					 <i class="path1"></i>
					 <i class="path2"></i>
					 <i class="path3"></i>
					 <i class="path4"></i>
					 <i class="path5"></i>
				</i></a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8">
				<div style="float: right">
					<ul uib-pagination direction-links="false" boundary-links="true"
						total-items="filterData.length" ng-model="currentPage" max-size="maxSize">
					</ul>
				</div>
			</td>
		</tr>
	</tfoot>
</table>
<!--end::Table-->