<div id="accordion1" class="accordion-s3 gradiant-bg mb-3" ng-hide="comments.length==0">
	<div class="card">
		<div class="card-header">
			<a class="card-link ng-binding" style="padding: 5px!important;"><small><i class="fa fa-comments"></i> Comments</small></a>
		</div>
		<table class="table table-bordered text-center table-sm">
			<thead class="bg-light">
				<tr>
					<th><small><b>Particulars</b></small></th>
					<th><small><b>To</b></small></th>
					<th><small><b>Status</b></small></th>
					<th><small><b>Revise</b></small></th>
					<th><small><b>Action</b></small></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="data in comments">	
				  <td><small>{{data.particulars}}</small></td>
				  <td>
				  <p ng-show="data.is_multiple_offices=='0'"><small>{{document.origin.shortname}}</small></p>
				  <span ng-show="data.is_multiple_offices=='1'"><p ng-repeat="off in data.document_comments"><small>{{off.office.shortname}}</small></p><span></td>
				  <td><span class="badge badge-{{data.color}}"><small>{{data.status}}</small></span></td>
				  <td>
					<label class="switch2">
						<input type="checkbox" name="status{{$index}}" ng-model="data.status_button" ng-click="app.checkStatus(this)">
						<span class="slider2 round2"></span>
					</label>
				  </td>
				  <td>
					<ul class="d-flex justify-content-center">
						<h5><li class="mr-2"><a ng-click="app.comment(this,data)" class="text-secondary"><i class="fa fa-edit"></i></a></li></h5>
						<h5><li><a ng-click="app.delete_comment(this,data)" class="text-danger"><i class="ti-trash"></i></a></li></h5>
					</ul>
				  </td>
				</tr>
			</tbody>
			<!-- <tfoot>
				<tr>
					<td colspan="12" style="text-align: center;">
						<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
					</td>
				</tr>
			</tfoot> -->
		</table>
	</div>
</div>