<div class="card">
	<div class="card-body">
		<div class="row mb-4">
			<div class="col-lg-7">
				<h5>Accounts Table</h5>
			</div>
			<div class="col-lg-5">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Search Keywords Here" ng-model="search" style="border-top-left-radius:1.5rem; border-bottom-left-radius:1.5rem; height:40px !important;">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button" ng-click="app.user(this)" style="height:40px;">Add New Account</button>
					</div>
				</div>
			</div>
		</div>
		<div class="single-table">
			<div class="table-responsive">
				<table class="table text-center">
					<thead class="text-uppercase text-white" style="background:#8914fe;">
						<tr>
							<th width="10%">ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Group</th>
							<th>Office</th>
							<th>Position</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in filterData = (users | filter:search) | pagination: currentPage:pageSize">
							<td>{{data.employee_id}}</td>
							<td>{{data.firstname}}</td>
							<td>{{data.lastname}}</td>
							<td>{{data.group_id.group_name}}</td>
							<td>{{data.div_id.shortname}}</td>
							<td>{{data.position}}</td>
							<td>
								<ul class="d-flex justify-content-center">
									<button id="button_s" type="button" class="btn btn-primary btn-xs mr-1" ng-click="app.user(this,data)"><i class="fa fa-edit"></i></button>
									<button id="button_s" type="button" class="btn btn-danger btn-xs" ng-click="app.delete(this,data)"><i class="ti-trash"></i></button>
									<!-- <h5><li class="mr-3"><a ng-click="app.user(this,data)" class="text-secondary"><i class="fa fa-edit"></i></a></li></h5> -->
									<!-- <h5><li><a ng-click="app.delete(this,data)" class="text-danger"><i class="ti-trash"></i></a></li></h5> -->
								</ul>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="12" style="text-align: center;">
								<div class="float-right"><ul uib-pagination direction-links="false" boundary-links="true" total-items="filterData.length" ng-model="currentPage" max-size="maxSize"></ul></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>