<div class="flex-lg-row-fluid ms-lg-15">
	<!--begin:::Tabs-->
	<ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
		
		<!--begin:::Tab item-->
		<li class="nav-item">
			<a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#user_profile">User Profile</a>
		</li>
		<!--end:::Tab item-->
		<!--begin:::Tab item-->
		<li class="nav-item">
			<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#change_password">Change Password</a>
		</li>
		<!--end:::Tab item-->
	</ul>
	<!--end:::Tabs-->
	<!--begin:::Tab content-->
	<div class="tab-content" id="myTabContent">
		<!--begin:::Tab pane-->
		
		<!--end:::Tab pane-->
		<!--begin:::Tab pane-->
		<div class="tab-pane fade show active" id="user_profile" role="tabpanel">
			<!--begin::Card-->
			<div class="card pt-4 mb-6 mb-xl-9">
				<!--begin::Card header-->
				<div class="card-header mt-6">
					<!--begin::Card title-->
					<div class="card-title flex-column">
						<h2 class="mb-1">User's Profile</h2>
						<div class="fs-6 fw-semibold text-muted">Basic Information</div>
					</div>
					<!--end::Card title-->
					<!--begin::Card toolbar-->
					<div class="card-toolbar">
						<!--begin::Button-->
						<button type="button" class="btn btn-light-primary" ng-click="app.edit(this)">
						<i class="ki-duotone ki-pencil fs-3">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>Edit Information</button>
						<!--end::Button-->
					</div>
					<!--end::Card toolbar-->
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-0 pb-5">
					<!--begin::Form-->
					<form class="needs-validation" novalidate="" role="form" name="formHolder.user">
					<table class="table align-middle table-row-dashed gy-5" >
						<tbody class="fs-6 fw-semibold text-gray-600">
							<tr>
								<td>First Name</td>
								<td><input type="text" class="form-control" name="firstname" ng-model="user.firstname" ng-disabled="controls.ok.btn" ng-class="{'is-invalid': formHolder.user.firstname.$touched && formHolder.user.firstname.$invalid}" required /></td>
								<td class="text-end">
									<button type="button" class="btn btn-icon btn-active-light-primary w-30px h-30px ms-auto" data-bs-toggle="modal" data-bs-target="#kt_modal_update_email">
										<i class="ki-duotone ki-pencil fs-3">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</button>
								</td>
							</tr>
							<tr>
								<td>Middle Name</td>
								<td><input type="text" class="form-control" name="middlename" ng-model="user.middlename" ng-disabled="controls.ok.btn" ng-class="{'is-invalid': formHolder.user.middlename.$touched && formHolder.user.middlename.$invalid}" required /></td>
								<td class="text-end">
									<button type="button" class="btn btn-icon btn-active-light-primary w-30px h-30px ms-auto" data-bs-toggle="modal" data-bs-target="#kt_modal_update_email">
										<i class="ki-duotone ki-pencil fs-3">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</button>
								</td>
							</tr>
							<tr>
								<td>Last Name</td>
								<td><input type="text" class="form-control " name="lastname" ng-model="user.lastname" ng-disabled="controls.ok.btn" ng-class="{'is-invalid': formHolder.user.lastname.$touched && formHolder.user.lastname.$invalid}" required /></td>
								<td class="text-end">
									<button type="button" class="btn btn-icon btn-active-light-primary w-30px h-30px ms-auto" data-bs-toggle="modal" data-bs-target="#kt_modal_update_email">
										<i class="ki-duotone ki-pencil fs-3">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</button>
								</td>
							</tr>
							<tr>
								<td>User Name</td>
								<td><input type="text" class="form-control " name="username" ng-model="user.username" ng-disabled="controls.ok.btn" ng-class="{'is-invalid': formHolder.user.username.$touched && formHolder.user.username.$invalid}" required /></td>
								<td class="text-end">
									<button type="button" class="btn btn-icon btn-active-light-primary w-30px h-30px ms-auto" data-bs-toggle="modal" data-bs-target="#kt_modal_update_email">
										<i class="ki-duotone ki-pencil fs-3">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</button>
								</td>
							</tr>
							<tr>
								<td>Role</td>
								<td><input type="text" class="form-control " name="groups" ng-model="user.groups" ng-disabled="controls.ok.btn" ng-class="{'is-invalid': formHolder.user.groups.$touched && formHolder.user.groups.$invalid}" required /></td>
								<td class="text-end">
									<button type="button" class="btn btn-icon btn-active-light-primary w-30px h-30px ms-auto" data-bs-toggle="modal" data-bs-target="#kt_modal_update_email">
										<i class="ki-duotone ki-pencil fs-3">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<!--end::Form-->
					<div class="d-flex justify-content-end align-items-center mt-12">
						<!--begin::Button-->
						<input type="reset" class="btn btn-light me-4" value="{{controls.cancel.label}}"  ng-click="app.list(this)">
						<input type="button" class="btn btn-primary first" value="{{controls.ok.label}}" ng-click="app.save(this)" ng-disabled="controls.ok.btn">
						<!--end::Button-->
					</div>
					</form>
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Card-->
		</div>
		<!--end:::Tab pane-->
		
		
		<!--begin:::Tab pane-->
		<div class="tab-pane fade" id="change_password" role="tabpanel">
			<!--begin::Card-->
			<div class="card pt-4 mb-6 mb-xl-9">
				<!--begin::Card header-->
				<div class="card-header mt-6">
					<!--begin::Card title-->
					<div class="card-title flex-column">
						<h2 class="mb-1">Change Password</h2>
						<div class="fs-6 fw-semibold text-muted">Change Password of a user</div>
					</div>
					<!--end::Card title-->
					<!--begin::Card toolbar-->
					<div class="card-toolbar">
						<!--begin::Button-->
						<button type="button" class="btn btn-light-primary" ng-click="app.edit(this)">
						<i class="ki-duotone ki-pencil fs-3">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>Edit Information</button>
						<!--end::Button-->
					</div>
					<!--end::Card toolbar-->
				</div
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-0 pb-5">
					<!--begin::Form-->
					<form class="needs-validation" novalidate="" role="form" name="formHolder.user">
					<table class="table align-middle table-row-dashed gy-5" id="kt_table_users_login_session" class="needs-validation" novalidate="" role="form" name="formHolder.user">
						<tbody class="fs-6 fw-semibold text-gray-600">
							<tr>
								<td>Password</td>
								<td><input type="password" class="form-control " name="password" ng-model="user.password" ng-disabled="controls.ok.btn" placeholder="*********"/></td>
								<td class="text-end">
									<button type="button" class="btn btn-icon btn-active-light-primary w-30px h-30px ms-auto" data-bs-toggle="modal" data-bs-target="#kt_modal_update_email">
										<i class="ki-duotone ki-pencil fs-3">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<!--end::Form-->
					<div class="d-flex justify-content-end align-items-center mt-12">
						<!--begin::Button-->
						<input type="reset" class="btn btn-light me-4" value="{{controls.cancel.label}}"  ng-click="app.list(this)">
						<input type="button" class="btn btn-primary first" value="{{controls.ok.label}}" ng-click="app.save(this)" ng-disabled="controls.ok.btn">
						<!--end::Button-->
					</div>
					</form>
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Card-->
		</div>
		<!--end:::Tab pane-->
	</div>
	<!--end:::Tab content-->
</div>
